name: Publish to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'
      
      - name: Install Drawio
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz wget curl libgbm-dev libasound2-dev xvfb
          curl -s https://api.github.com/repos/jgraph/drawio-desktop/releases/latest | grep browser_download_url | grep '\.deb' | cut -d '"' -f 4 | wget -i -
          sudo apt -f install -y ./drawio-amd64-*.deb
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Install markdownlint-cli
        run: npm install -g markdownlint-cli
      - name: Lint Markdown
        run: markdownlint docs
      - name: Build content
        run: |
          Xvfb :5 -screen 0 1920x1080x8 &
          export DISPLAY=':5.0'
          mkdocs build --verbose --site-dir site
        env:
          ENABLE_PDF_EXPORT: 1
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'site'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4